* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*tried to take out and combine as much of the unnecessary header elements as possible*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    align-items: right;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/*made seo its own ID since its a unique element that isn't used anywhere else on the page*/
#seo {
    color: #d9dcd6;
}

header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.navbar {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*decided to start with services immediately after the header since that's the first thing the user will see*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    background-color: #0072bb;
}

.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Since the images were the same basic parameters, I set them as the same class*/
.services img {
    max-height: 200px;
}

/*There were 3 elements for the h2s all with the same parameters, so I changed it to 1 and set them as the same class*/
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*moved the benefits from above services to below it since that's how it is on the site*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-icon {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-icon h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-icon img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Put the font size in the footer to make it more concise*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }  
}
